<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572306654247-2l1e7grnrbpo4r40qn8sko4fmdam5cvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572306654247-2l1e7grnrbpo4r40qn8sko4fmdam5cvp</string>
	<key>API_KEY</key>
	<string>AIzaSyAW7HOznMmVP8m-jatYgkxvxM8_rz6-Kjg</string>
	<key>GCM_SENDER_ID</key>
	<string>572306654247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VouchChallenge</string>
	<key>PROJECT_ID</key>
	<string>vouchchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>vouchchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572306654247:ios:22bb6358e2998edd80ba02</string>
</dict>
</plist>